h1{
    border: 2px;
    background-color: papayawhip;
}
p{
    background-color: rgb(193, 161, 193);
}
form{
    border: 1px black;
    background-color: aqua;
    font-size: large;
    font-weight: 50px;
}